{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{# **************************************************** #}
{# **************************************************** #}

{% block body %}
    <div class="container">
        <h1 class="text-center">Contactez-moi</h1>
    </div>
{% endblock %}
